body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lightgoldenrodyellow;
    font-size: 1.3em;
    color: white;
}

#logo {
    height: 50x;
    width: 50px;
    padding-top: 35px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #fc84b0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navLeft{
    display: flex;
    flex-direction: row;
}

h1{
    padding-top: 5px;
    padding-left: 20px;
    font-size: 2em;
}

nav:nth-child(1) {
    padding-right: 30px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-right: 20px;
    font-size: 1.3em;
    float: right;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.navlink a:hover {
    text-decoration: underline;
}

.form {
    background-color: #fc84b0;
    border-radius: 25px;
    border: 5px solid #fa6199;
    margin: 10px;
    padding: 10px;
}

#profileForm{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    border-radius: 25px 25px 0px 0px;
    border-bottom-style: none;
    padding: 10px;
    margin:0px;
}

#profileForm textarea{
    height: 50px;
}
.profileForm label {
    display: inline-block;
}

.appSubmit {
    display: inline;
    padding: 5px;
    background-color: #fa6199;
    border-radius: 20px;
    border-style: none;
    text-decoration: none;
    color: white;
}

.appSubmit:link, .appSubmit:visited, .appSubmit:hover, .appSubmit:active {
    color: white;
}

.appSubmit:hover {
    text-decoration: underline;
}

.mainForm {
    width: 25vw;
    padding: 2vh;
    margin-top: 20vh;
    margin-left: 37vw;
    background-color: #fc84b0;
    border: 5px solid #fa6199;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    overflow: hidden;
    border-radius: 25px;
    
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
}

.formSubmit {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    background-color: #fa6199;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    border-style: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    text-decoration: underline;
}

#user, #pass, #pass2 {
    text-align: center;
    width: 180px;
    border-radius: 6px;
    border-color: #fa6199;
    border-style: solid;
}

#profiles {
    border-radius: 25px;
    margin: 0 auto;
}

.profile {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 25px;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    border: 5px solid #fa6199;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
    background-color: white;
}

img.profilePic {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 10px;
    margin-top:10px;
    float:left;
}

h3.emptyProfile {
    text-align: center;
}

h3.profileName {
    float: left;
}

h3.profileAge {
    float: right;
    text-align: left;
}

p.profileAbout {
    float:left;
}

.profile:first-child {
    margin-top: 10px;
}

.profile:last-child {
    margin-bottom:10px;
}

#wrapper{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
    margin-top: 10px;
}

#userMenu{
    width: 25%;
}

#profilesMenu{
    width: 55%;
}

#userProfile{
    border-radius: 0px 0px 25px 25px;
    margin: 0 auto;
    margin-bottom: 2px;
    padding: 10px;
    overflow: hidden;
    border: 5px solid #fa6199;
    border-top-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    color: black;
    background-color: white;
}

.pWrapper{
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: start;
}

#advert{
    width:8%;
    height: 100vh;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#profileAbout{
    height: 50px;
}

.formInput{
    border-color: #fa6199;
    border-style: solid;
}


