html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lightgoldenrodyellow;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: #fc84b0;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #fc84b0;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #fdafcc;
}

.form {
    background-color: #fc84b0;
    border-radius: 25px;
    border: 5px solid #fa6199;
    margin: 10px;
    padding: 10px;
}

#profileForm{
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    border-radius: 25px 25px 0px 0px;
    border-bottom-style: none;
    padding: 10px;
    margin:0px;
}

#profileForm textarea{
    height: 50px;
}
.profileForm label {
    display: inline-block;
    color: white;
}

.appSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    padding: 5px;
    background-color: #fc84b0;
    border-radius: 20px;
    border-color: #fa6199;
    border-style: solid;
    color: white;
    text-decoration: none;
}

.appSubmit:link, .appSubmit:visited, .appSubmit:hover, .appSubmit:active {
    color: white;
}

.appSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #fa6199;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    background-color: #fc84b0;
    border-color: #fa6199;
    border-radius: 20px;
    border-style: solid;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #fa6199;
}

#user, #pass, #pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
    border-color: #fa6199;
    border-style: solid;
}

#user:focus, #pass:focus, #pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #fc84b0;
}

.hidden {
    display: none;
}


#profile {
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#profiles {
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 100px;
}

.profile {
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    border: 5px solid #fa6199;
}

.profile:hover {

}

img.profilePic {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyProfile {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.profileName {
    float: left;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.5em;
}

h3.profileAge {
    float: left;
    text-align: left;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

p.profileAbout {
    float:left;
    padding-left: 65px;
    font-size: 1.5em;
}

.profile:first-child {
    margin-top: 10px;
}

.profile:last-child {
    margin-bottom:10px;
}

#wrapper{
    display: flex;
    flex-direction: row;
    gap: 2%;
    justify-content: space-between;
    margin-top: 10px;
}

#userMenu{
    width: 20%;
}

#profilesMenu{
    width: 60%;
}

#userProfile{
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    margin: 0 auto;
    margin-bottom: 2px;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    border: 5px solid #fa6199;
    border-top-style: none;
}

.pWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#advert{
    width:8%;
    height: 100vh;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#profileAbout{
    height: 50px;
}

.formInput{
    border-color: #fa6199;
    border-style: solid;
}

